PublicTransport/PublicTransport.Client/Service References/Services.Streets/StreetService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StreetService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/streets?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/streets?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" />
      <xsd:import schemaLocation="http://localhost:8733/streets?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/streets?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" />
      <xsd:import schemaLocation="http://localhost:8733/streets?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/streets?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStreetService_CreateStreet_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateStreet" />
  </wsdl:message>
  <wsdl:message name="IStreetService_CreateStreet_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateStreetResponse" />
  </wsdl:message>
  <wsdl:message name="IStreetService_CreateStreet_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IStreetService_UpdateStreet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStreet" />
  </wsdl:message>
  <wsdl:message name="IStreetService_UpdateStreet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStreetResponse" />
  </wsdl:message>
  <wsdl:message name="IStreetService_UpdateStreet_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IStreetService_DeleteStreet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStreet" />
  </wsdl:message>
  <wsdl:message name="IStreetService_DeleteStreet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStreetResponse" />
  </wsdl:message>
  <wsdl:message name="IStreetService_FilterCities_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterCities" />
  </wsdl:message>
  <wsdl:message name="IStreetService_FilterCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IStreetService_FilterStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterStreets" />
  </wsdl:message>
  <wsdl:message name="IStreetService_FilterStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterStreetsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStreetService">
    <wsdl:operation name="CreateStreet">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreetService/CreateStreet" message="tns:IStreetService_CreateStreet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreetService/CreateStreetResponse" message="tns:IStreetService_CreateStreet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IStreetService/CreateStreetValidationFaultFault" name="ValidationFaultFault" message="tns:IStreetService_CreateStreet_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStreet">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreetService/UpdateStreet" message="tns:IStreetService_UpdateStreet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreetService/UpdateStreetResponse" message="tns:IStreetService_UpdateStreet_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IStreetService/UpdateStreetValidationFaultFault" name="ValidationFaultFault" message="tns:IStreetService_UpdateStreet_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStreet">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreetService/DeleteStreet" message="tns:IStreetService_DeleteStreet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreetService/DeleteStreetResponse" message="tns:IStreetService_DeleteStreet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreetService/FilterCities" message="tns:IStreetService_FilterCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreetService/FilterCitiesResponse" message="tns:IStreetService_FilterCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/IStreetService/FilterStreets" message="tns:IStreetService_FilterStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStreetService/FilterStreetsResponse" message="tns:IStreetService_FilterStreets_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStreetService" type="tns:IStreetService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateStreet">
      <soap:operation soapAction="http://tempuri.org/IStreetService/CreateStreet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateStreet">
      <soap:operation soapAction="http://tempuri.org/IStreetService/UpdateStreet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteStreet">
      <soap:operation soapAction="http://tempuri.org/IStreetService/DeleteStreet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterCities">
      <soap:operation soapAction="http://tempuri.org/IStreetService/FilterCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterStreets">
      <soap:operation soapAction="http://tempuri.org/IStreetService/FilterStreets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StreetService">
    <wsdl:port name="BasicHttpBinding_IStreetService" binding="tns:BasicHttpBinding_IStreetService">
      <soap:address location="http://localhost:8733/streets" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>