PublicTransport/PublicTransport.Client/Service References/Services.Login/login3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/login?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" />
  <xs:element name="RequestLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="loginData" nillable="true" type="q1:LoginData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="RequestLoginResult" nillable="true" type="q2:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>