PublicTransport/PublicTransport.Client/Service References/Services.Agencies/agencies2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="tns:StreetDto" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgencyDto" nillable="true" type="tns:AgencyDto" />
  <xs:complexType name="StreetDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreetDto" nillable="true" type="tns:StreetDto" />
  <xs:complexType name="CityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityDto" nillable="true" type="tns:CityDto" />
  <xs:complexType name="ArrayOfAgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgencyDto" nillable="true" type="tns:AgencyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgencyDto" nillable="true" type="tns:ArrayOfAgencyDto" />
  <xs:complexType name="ArrayOfStreetDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetDto" nillable="true" type="tns:StreetDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreetDto" nillable="true" type="tns:ArrayOfStreetDto" />
</xs:schema>