PublicTransport/PublicTransport.Client/Service References/Services.Agencies/AgencyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AgencyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/agencies?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/agencies?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" />
      <xsd:import schemaLocation="http://localhost:8733/agencies?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/agencies?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" />
      <xsd:import schemaLocation="http://localhost:8733/agencies?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/agencies?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAgencyService_CreateAgency_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAgency" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_CreateAgency_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_CreateAgency_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_UpdateAgency_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAgency" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_UpdateAgency_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_UpdateAgency_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_DeleteAgency_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAgency" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_DeleteAgency_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_FilterAgencies_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterAgencies" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_FilterAgencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterAgenciesResponse" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_FilterStreets_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterStreets" />
  </wsdl:message>
  <wsdl:message name="IAgencyService_FilterStreets_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterStreetsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAgencyService">
    <wsdl:operation name="CreateAgency">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgencyService/CreateAgency" message="tns:IAgencyService_CreateAgency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgencyService/CreateAgencyResponse" message="tns:IAgencyService_CreateAgency_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAgencyService/CreateAgencyValidationFaultFault" name="ValidationFaultFault" message="tns:IAgencyService_CreateAgency_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAgency">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgencyService/UpdateAgency" message="tns:IAgencyService_UpdateAgency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgencyService/UpdateAgencyResponse" message="tns:IAgencyService_UpdateAgency_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IAgencyService/UpdateAgencyValidationFaultFault" name="ValidationFaultFault" message="tns:IAgencyService_UpdateAgency_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAgency">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgencyService/DeleteAgency" message="tns:IAgencyService_DeleteAgency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgencyService/DeleteAgencyResponse" message="tns:IAgencyService_DeleteAgency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterAgencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgencyService/FilterAgencies" message="tns:IAgencyService_FilterAgencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgencyService/FilterAgenciesResponse" message="tns:IAgencyService_FilterAgencies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterStreets">
      <wsdl:input wsaw:Action="http://tempuri.org/IAgencyService/FilterStreets" message="tns:IAgencyService_FilterStreets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAgencyService/FilterStreetsResponse" message="tns:IAgencyService_FilterStreets_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAgencyService" type="tns:IAgencyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateAgency">
      <soap:operation soapAction="http://tempuri.org/IAgencyService/CreateAgency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAgency">
      <soap:operation soapAction="http://tempuri.org/IAgencyService/UpdateAgency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteAgency">
      <soap:operation soapAction="http://tempuri.org/IAgencyService/DeleteAgency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterAgencies">
      <soap:operation soapAction="http://tempuri.org/IAgencyService/FilterAgencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterStreets">
      <soap:operation soapAction="http://tempuri.org/IAgencyService/FilterStreets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AgencyService">
    <wsdl:port name="BasicHttpBinding_IAgencyService" binding="tns:BasicHttpBinding_IAgencyService">
      <soap:address location="http://localhost:8733/agencies" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>