PublicTransport/PublicTransport.Client/Service References/Services.Routes/routes6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/routes?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" />
  <xs:import schemaLocation="http://localhost:8733/routes?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" />
  <xs:element name="GetRouteTimetableByStopId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" minOccurs="0" name="filter" nillable="true" type="q1:StopTimeFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteTimetableByStopIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="GetRouteTimetableByStopIdResult" nillable="true" type="q2:ArrayOfStopTimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="calendar" nillable="true" type="q3:CalendarDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="CreateCalendarResult" nillable="true" type="q4:CalendarDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCalendar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="calendar" nillable="true" type="q5:CalendarDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCalendarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="UpdateCalendarResult" nillable="true" type="q6:CalendarDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterAgencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" minOccurs="0" name="filter" nillable="true" type="q7:AgencyFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterAgenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="FilterAgenciesResult" nillable="true" type="q8:ArrayOfAgencyDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="route" nillable="true" type="q9:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="CreateRouteResult" nillable="true" type="q10:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="route" nillable="true" type="q11:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="UpdateRouteResult" nillable="true" type="q12:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="route" nillable="true" type="q13:RouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterRoutes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" minOccurs="0" name="filter" nillable="true" type="q14:RouteFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterRoutesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="FilterRoutesResult" nillable="true" type="q15:ArrayOfRouteDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" minOccurs="0" name="filter" nillable="true" type="q16:StopFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilterStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="FilterStopsResult" nillable="true" type="q17:ArrayOfStopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsByRouteId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStopsByRouteIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="GetStopsByRouteIdResult" nillable="true" type="q18:ArrayOfStopDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="trip" nillable="true" type="q19:TripDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="CreateTripResult" nillable="true" type="q20:TripDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="trip" nillable="true" type="q21:TripDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="UpdateTripResult" nillable="true" type="q22:TripDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="trip" nillable="true" type="q23:TripDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTripResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="stops" nillable="true" type="q24:ArrayOfStopTimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="UpdateStopsResult" nillable="true" type="q25:ArrayOfStopTimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripStops">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="trip" nillable="true" type="q26:TripDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTripStopsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" minOccurs="0" name="GetTripStopsResult" nillable="true" type="q27:ArrayOfStopTimeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>