PublicTransport/PublicTransport.Client/Service References/Services.Zones/ZoneService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZoneService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/zones?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/zones?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" />
      <xsd:import schemaLocation="http://localhost:8733/zones?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/zones?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" />
      <xsd:import schemaLocation="http://localhost:8733/zones?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZoneService_CreateZone_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateZone" />
  </wsdl:message>
  <wsdl:message name="IZoneService_CreateZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateZoneResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneService_CreateZone_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" name="detail" element="q1:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IZoneService_UpdateZone_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateZone" />
  </wsdl:message>
  <wsdl:message name="IZoneService_UpdateZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateZoneResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneService_UpdateZone_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/PublicTransport.Services.Exceptions" name="detail" element="q2:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IZoneService_DeleteZone_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZone" />
  </wsdl:message>
  <wsdl:message name="IZoneService_DeleteZone_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteZoneResponse" />
  </wsdl:message>
  <wsdl:message name="IZoneService_FilterZones_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterZones" />
  </wsdl:message>
  <wsdl:message name="IZoneService_FilterZones_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterZonesResponse" />
  </wsdl:message>
  <wsdl:portType name="IZoneService">
    <wsdl:operation name="CreateZone">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneService/CreateZone" message="tns:IZoneService_CreateZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneService/CreateZoneResponse" message="tns:IZoneService_CreateZone_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IZoneService/CreateZoneValidationFaultFault" name="ValidationFaultFault" message="tns:IZoneService_CreateZone_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateZone">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneService/UpdateZone" message="tns:IZoneService_UpdateZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneService/UpdateZoneResponse" message="tns:IZoneService_UpdateZone_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IZoneService/UpdateZoneValidationFaultFault" name="ValidationFaultFault" message="tns:IZoneService_UpdateZone_ValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteZone">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneService/DeleteZone" message="tns:IZoneService_DeleteZone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneService/DeleteZoneResponse" message="tns:IZoneService_DeleteZone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FilterZones">
      <wsdl:input wsaw:Action="http://tempuri.org/IZoneService/FilterZones" message="tns:IZoneService_FilterZones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZoneService/FilterZonesResponse" message="tns:IZoneService_FilterZones_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IZoneService" type="tns:IZoneService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateZone">
      <soap:operation soapAction="http://tempuri.org/IZoneService/CreateZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateZone">
      <soap:operation soapAction="http://tempuri.org/IZoneService/UpdateZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ValidationFaultFault">
        <soap:fault use="literal" name="ValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteZone">
      <soap:operation soapAction="http://tempuri.org/IZoneService/DeleteZone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterZones">
      <soap:operation soapAction="http://tempuri.org/IZoneService/FilterZones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZoneService">
    <wsdl:port name="BasicHttpBinding_IZoneService" binding="tns:BasicHttpBinding_IZoneService">
      <soap:address location="http://localhost:8733/zones" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>