PublicTransport/PublicTransport.Client/Service References/Services.Fares/fares1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/fares?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" />
  <xs:complexType name="FareFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="DestinationZoneNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OriginZoneNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteNameFilter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareFilter" nillable="true" type="tns:FareFilter" />
  <xs:complexType name="RouteFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgencyNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LongNameFilter" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" minOccurs="0" name="RouteTypeFilter" nillable="true" type="q1:RouteType" />
      <xs:element minOccurs="0" name="ShortNameFilter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteFilter" nillable="true" type="tns:RouteFilter" />
</xs:schema>