PublicTransport/PublicTransport.Client/Service References/Services.Fares/fares6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/fares?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" />
  <xs:complexType name="FareAttributeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareRule" nillable="true" type="tns:FareRuleDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="TransferDuration" nillable="true" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" minOccurs="0" name="Transfers" type="q1:TransferCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareAttributeDto" nillable="true" type="tns:FareAttributeDto" />
  <xs:complexType name="FareRuleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destination" nillable="true" type="tns:ZoneDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="tns:ZoneDto" />
      <xs:element minOccurs="0" name="Route" nillable="true" type="tns:RouteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareRuleDto" nillable="true" type="tns:FareRuleDto" />
  <xs:complexType name="ZoneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZoneDto" nillable="true" type="tns:ZoneDto" />
  <xs:complexType name="RouteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agency" nillable="true" type="tns:AgencyDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" minOccurs="0" name="RouteType" type="q2:RouteType" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteDto" nillable="true" type="tns:RouteDto" />
  <xs:complexType name="AgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="tns:StreetDto" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgencyDto" nillable="true" type="tns:AgencyDto" />
  <xs:complexType name="StreetDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreetDto" nillable="true" type="tns:StreetDto" />
  <xs:complexType name="CityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityDto" nillable="true" type="tns:CityDto" />
  <xs:complexType name="ArrayOfFareAttributeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FareAttributeDto" nillable="true" type="tns:FareAttributeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFareAttributeDto" nillable="true" type="tns:ArrayOfFareAttributeDto" />
  <xs:complexType name="ArrayOfRouteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteDto" nillable="true" type="tns:RouteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteDto" nillable="true" type="tns:ArrayOfRouteDto" />
  <xs:complexType name="ArrayOfZoneDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZoneDto" nillable="true" type="tns:ZoneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZoneDto" nillable="true" type="tns:ArrayOfZoneDto" />
</xs:schema>