PublicTransport/PublicTransport.Client/Service References/Services.Users/users2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/users?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" />
  <xs:complexType name="UserFilter">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" minOccurs="0" name="RoleTypeFilter" nillable="true" type="q1:RoleType" />
      <xs:element minOccurs="0" name="UserNameFilter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserFilter" nillable="true" type="tns:UserFilter" />
</xs:schema>