PublicTransport/PublicTransport.Client/Service References/Services.Search/search3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/search?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" />
  <xs:complexType name="ArrayOfStopDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StopDto" nillable="true" type="tns:StopDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStopDto" nillable="true" type="tns:ArrayOfStopDto" />
  <xs:complexType name="StopDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsStation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentStation" nillable="true" type="tns:StopDto" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="tns:StreetDto" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="tns:ZoneDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StopDto" nillable="true" type="tns:StopDto" />
  <xs:complexType name="StreetDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:CityDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreetDto" nillable="true" type="tns:StreetDto" />
  <xs:complexType name="CityDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityDto" nillable="true" type="tns:CityDto" />
  <xs:complexType name="ZoneDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZoneDto" nillable="true" type="tns:ZoneDto" />
  <xs:complexType name="ArrayOfRouteDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RouteDto" nillable="true" type="tns:RouteDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRouteDto" nillable="true" type="tns:ArrayOfRouteDto" />
  <xs:complexType name="RouteDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Agency" nillable="true" type="tns:AgencyDto" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LongName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" minOccurs="0" name="RouteType" type="q1:RouteType" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RouteDto" nillable="true" type="tns:RouteDto" />
  <xs:complexType name="AgencyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Regon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="tns:StreetDto" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgencyDto" nillable="true" type="tns:AgencyDto" />
</xs:schema>