PublicTransport/PublicTransport.Client/Service References/Services.Search/SearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SearchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/search?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/search?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/search?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" />
      <xsd:import schemaLocation="http://localhost:8733/search?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer" />
      <xsd:import schemaLocation="http://localhost:8733/search?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PublicTransport.Domain.Enums" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchService_FilterStops_InputMessage">
    <wsdl:part name="parameters" element="tns:FilterStops" />
  </wsdl:message>
  <wsdl:message name="ISearchService_FilterStops_OutputMessage">
    <wsdl:part name="parameters" element="tns:FilterStopsResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchService_FindRoutes_InputMessage">
    <wsdl:part name="parameters" element="tns:FindRoutes" />
  </wsdl:message>
  <wsdl:message name="ISearchService_FindRoutes_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindRoutesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchService">
    <wsdl:operation name="FilterStops">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/FilterStops" message="tns:ISearchService_FilterStops_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/FilterStopsResponse" message="tns:ISearchService_FilterStops_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindRoutes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchService/FindRoutes" message="tns:ISearchService_FindRoutes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchService/FindRoutesResponse" message="tns:ISearchService_FindRoutes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearchService" type="tns:ISearchService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FilterStops">
      <soap:operation soapAction="http://tempuri.org/ISearchService/FilterStops" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRoutes">
      <soap:operation soapAction="http://tempuri.org/ISearchService/FindRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SearchService">
    <wsdl:port name="BasicHttpBinding_ISearchService" binding="tns:BasicHttpBinding_ISearchService">
      <soap:address location="http://localhost:8733/search" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>