PublicTransport/PublicTransport.Client/Service References/Services.Stops/stops1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublicTransport.Services.DataTransfer.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StopFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlyStations" type="xs:boolean" />
      <xs:element minOccurs="0" name="ParentStationNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneNameFilter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StopFilter" nillable="true" type="tns:StopFilter" />
  <xs:complexType name="StreetFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityNameFilter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNameFilter" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreetFilter" nillable="true" type="tns:StreetFilter" />
</xs:schema>